@use "./variables" as *;
@use "./mixin" as *;

.sec-home {
    @include flex(center, center);
    padding: 3.5rem;
    gap: 2rem;

    .home-info {
        margin-top: 4rem;
        .info-text {
            font-size: 0.9rem;
            color: $color-main;
        }
        .home-title {
            width: 20rem;
            font-size: 3rem;
        }
        .home-description {
            width:19rem;
            font-size: 1.1rem;
        }
    }

    .home-img {

        img {
            max-width: 25rem;
        }
    }
}

@media (max-width: 575.98px) { 

    .sec-home {
        height: 60vh;
        .home-info {
            .info-text {
                font-size: 0.7rem;
            }
            .home-title {
                width: 17rem;
                font-size: 1.7rem;
            }
            .home-description {
                width:16rem;
                font-size: 0.8rem;
            }
        }
    }
}