// variables

$color-main:#a09dff;
$color-text:rgb(243, 239, 239);
$color-title-card: rgb(177, 177, 22);
$text-color-nav: azure;
$color-text-form:rgb(243, 239, 239);
$text-shadow: 2px 4px 5px #6c63ff;