
@mixin border-card(){
    border: 0.1rem solid rgba(167, 160, 160, 0.247);
    border-radius: 0.8rem;
    padding: 1rem;
}

.container-form {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    .form-projects {
        @include border-card();
    }
}