
.list-project {
    .card{
        .card-header {
            .card-title {
                font-size: 1.4rem;
                margin-bottom: 0;
            } 
        }
        .card-body{
            border-bottom: 0.1rem solid rgba(165, 163, 163, 0.897);
            .card-text{
                font-size: 0.8rem;      
            }
        }
    }
}

@media (max-width: 575.98px) { 
    .list-project {
        .card{
            .card-header {
                .card-title {
                    font-size: 1.2rem;
                    margin-bottom: 0;
                } 
            }
            .card-body{
                border-bottom: 0.1rem solid rgba(165, 163, 163, 0.897);
                .card-text{
                    font-size: 0.9rem;      
                }
            }
        }
    }
    
}