@use "sec-nav";
@use "sec-home";
@use "sec-footer";
@use "container-projectList";
@use "container-form";

$color-main:#6c63ff;

@mixin section-base(){
    width: 100%;
    margin: auto;
    max-width: 1200px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: #242529;
}

.sec-nav {
    @include section-base();
}

.sec-home {
    @include section-base();

    .home-info {
        .info-text {
            color: $color-main;
        }   
    }
}

.sec-footer {
    @include section-base();
}

.container-projectList {
    @include section-base();
}


