
@use "./assets/scss/variables" as *;
@use "./assets/scss/mixin" as *;
@use "./assets/scss/sec-nav";
@use "./assets/scss/sec-home";
@use "./assets/scss/sec-footer";
@use "./assets/scss/sec-projectList";
@use "./assets/scss/container-form";


body {
    margin: 0;
    padding: 0;
    color: $color-text;
    box-sizing: border-box;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.sec-nav {
    @include section-base();
}

.sec-home {
    @include section-base();
}

.sec-footer {
    @include section-base();
}


